/* LAYOUT */

body {
  font-family: Lucida Sans Unicode, Georgia, serif;
  font-size: 13px;
}

/* GENERIC */

ul, ol {
  list-style-position: inside;
  margin-left: 10px;
}

dd {
  padding-left: 10px;
  margin-bottom: 10px;
}

td, th {
  padding: 3px;
}

/* LINKS */

a, a:link, a:visited, a:active {
  color: #346aad;
  text-decoration: none;
}
a:hover {
  color: #6488ac;
  text-decoration: underline;
}