/* LAYOUT */

body {
  font-family: Lucida Sans Unicode, Georgia, serif;
  font-size: 13px;
  background: #14375a url(/sites/sln.tormu.com/themes/sln_teema/images/body_bg.png) repeat-x;
}

#main-content-container, #sidebar-right .region {
  border: 3px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

#main-content-container {
  padding-bottom: 20px;
  background: #f0f5fa url(/sites/sln.tormu.com/themes/sln_teema/images/main_bg.jpg) no-repeat;
}

#site-header {
  background: transparent no-repeat url(/sites/sln.tormu.com/themes/sln_teema/images/header.jpg);
  height: 321px;
}

.grid-16 #main-content-container {
  background: #f0f5fa url(/sites/sln.tormu.com/themes/sln_teema/images/main_bg_wide.jpg) no-repeat;
}

#sidebar-right .region {
  background: #f0f5fa url(/sites/sln.tormu.com/themes/sln_teema/images/right_bg.jpg) no-repeat;
}

#header-shadow, #main, #right {
  box-shadow: 6px 7px 20px #111;
  -webkit-box-shadow: 6px 7px 20px #111;
  -moz-box-shadow: 6px 7px 20px #111;
}

#header-shadow {
  position: absolute;
  height: 198px;
  margin-left: 10px;
  width: 940px;
  top: 120px;
  z-index: 1;
}

#main-content .region {
  background-color: white;
  padding: 5px 10px 5px 10px;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

#site-menu {
  font-family: Arial Black, Gadget, sans-serif;
  font-size: 19px;
  position: absolute;
  top: 285px;
  margin-left: 10px;
  z-index: 2;
  /*IE-vitun-hack */
  //position: relative;
  //top: -41px;
  //height: 0px;
}
ul#main-menu {
  margin-left: 0px;
}

/* GENERIC */

ul, ol {
  list-style-position: inside;
  margin-left: 10px;
}

dd {
  padding-left: 10px;
  margin-bottom: 10px;
}

td, th {
  padding: 3px;
}

p {
  margin-bottom: 15px;
  line-height: 1.4em;
}

/* Headings */

h1, h2, h3, h4, h5 {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 5px;
  line-height: 1.2em;
}

h1 { font-size: 25px; }
h2 { font-size: 18px; }
h3 { font-size: 16px; }
h4 { font-size: 14px; }
h5 { font-size: 12px; }

#right h2 {
  margin-bottom: 5px;
}

/* LINKS */

a, a:link, a:visited, a:active {
  color: #346aad;
  text-decoration: none;
}

#site-menu li a, #site-menu a:link, #site-menu a:visited, #site-menu a:active {
  color: #232323;
  text-shadow: 1px 1px 3px #666, -1px -1px 12px #FFF, 1px 1px #666, -1px -1px 1px #FFF, 1px 1px 6px #FFF;
}

.ie #site-menu li a {
  color: #CCC;
}

a:hover {
  color: #6488ac;
  text-decoration: underline;
}

#site-menu li a:hover {
  text-decoration: none;
  text-shadow: 1px 1px 3px #666, -1px -1px 12px #346aad, 1px 1px #666, -1px -1px 1px #FFF, 1px 1px 6px #346aad;
}

#main-content a:visited {
  color: #446280;
}

.read-more-link:before, .more-link:before {
  font-weight: bold;
	content: "› ";
}

.read-more-link, .more-link {
  font-weight: bold;
}

.messages {
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
}

.preview {
  background-color: #fafafa;
  border: 1px solid #e7e7e7;
}

div.status {
	color: darkgreen;
	background-color: #daf9d0;
	border: 1px solid forestgreen;
}

div.error {

}

div.warning {
  border: 1px solid #eac700;
  background-color: #fdface;
  padding: 5px;
}

.item-list .pager li {
  margin: 0px;
}

.pager-current {
  border: 1px solid #d1e1ef;
  background-color: #f3f8fc;
  padding: 4px;
}

/**
 * Collapsible fieldsets
 */
fieldset {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid gray;
  background: #f8f9fa url(/sites/sln.tormu.com/themes/sln_teema/images/gradient.png) repeat-x 0 0;
}

fieldset legend {
  /* Fix disappearing legend in FFox */
  display: block;
  color: black;
}

html.js fieldset.collapsed {
  background: transparent;
  padding-top: 0;
  padding-bottom: .6em;
}

html.js fieldset.collapsible legend a {
  background: url(/misc/menu-expanded.png) no-repeat 0% 50%;
  outline: 0;
}

html.js fieldset.collapsed legend a {
  background: url(/misc/menu-collapsed.png) no-repeat 0% 50%;
  outline: 0;
}

/* käyttäjät-sivun taulukko */
.view-id-kayttajat table thead tr th, .view-id-kayttajat table tfoot tr th {
	background-color: #e6EEEE;

}
.view-id-kayttajat table thead tr .header {
	background-image: url(/sites/sln.tormu.com/themes/sln_teema/images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
  padding-right: 18px;
}
.view-id-kayttajat table tbody td {
	color: #3D3D3D;
	background-color: #FFF;
	vertical-align: top;
}
.view-id-kayttajat table tbody tr.odd td {
	background-color:#F0F0F6;
}
.view-id-kayttajat table thead tr .headerSortUp {
	background-image: url(/sites/sln.tormu.com/themes/sln_teema/images/asc.gif);
}
.view-id-kayttajat table thead tr .headerSortDown {
	background-image: url(/sites/sln.tormu.com/themes/sln_teema/images/desc.gif);
}
.view-id-kayttajat table thead tr .headerSortDown, .view-id-kayttajat table thead tr .headerSortUp {
  background-color: #8dbdd8;
}

/* quotet */
.quotelist {
  margin-top: 10px;
}

.nodetype-quote .content, .quotelist .views-field-body {
  font-family: Courier New, Courier, monospace;
  font-size: 12px;
  border: 1px solid #d1e1ef;
  background-color: #f3f8fc;
  padding: 5px;
}

.quotelist .views-field-title {
  font-size: 17px;
  line-height: 1em;
  margin-bottom: 0px;
}

.quotelist .item-list ul li {
  list-style: none;
  margin: 0px;
  margin-bottom: 30px;
}

.quotelist .views-row {

}

.quotelist .views-field-created {
  font-family: Trebuchet MS, serif;
  color: silver;
  font-weight: bold;
  font-size: 14px;
}

/* lohkot */

.block .view-id-activity li, .block-comment li {
  font-size: 11px;
}

#block-block-1 .content {
  font-size: 12px;
}
#block-block-1 h2 {
  font-size: 26px;
}

.block-comment h2 {
  font-size: 16px;
}

.block-birthdays h2 {
  font-size: 15px;
}

.block ul {
  padding-left: 0px;
}

.block ul.menu {
  padding-left: 1em;
}

/* node-elementit */

.meta, .submitted {
  color: #aaa;
}

.node .content {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #CCC;
}

.node .content .event-participants {
  float: right;
  padding: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  border: 1px solid #CCC;
}

.node .content .field-field-date {
  margin-bottom: 0px;
  font-size: 24px;
  color: #999;
  font-family: 'Times New Roman', Times, serif;
}

.view-frontpage .node .content {
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
  border-bottom: none;
}

.view-frontpage .node h2 {
  margin-bottom: 0px;
}

.node .meta {
  border-bottom: 1px solid #CCC;
}

.teaser-checkbox {
  display: none;
}

/* kommentit */

#comments .comment {
  border: 1px solid #999;
  padding: 5px;
  background-color: #f8f8f8;
}

/* chat */

.chat-embed, .chat-embed-open {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #999;
}

.ie .chat-embed-open {
  border: 1px solid #999;
}

.chat-embed-open {
  border: none;
  box-shadow: 3px 3px 10px #111;
  -webkit-box-shadow: 3px 3px 10px #111;
  -moz-box-shadow: 3px 3px 10px #111;
}

.chatroom-popout .node, .chatroom-popout .node .content {
  margin: 0px;
  padding-bottom: 0px;
}

.node .chat-embed-open .meta, .chatroom-popout .node .content {
  border-bottom: none;
}

/* Sign up */
#edit-attended-wrapper, #edit-signup-form-data-Name-wrapper, #edit-signup-form-data-Phone-wrapper,
#signup-edit-form  #edit-save,
#views-exposed-form-signup-current-signups-page,
.view-signup-current-signups .views-field-title label {
  display: none;
}

/* random */

.clear {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix { display: inline-block; }
* html .clearfix { height:1%; }
.clearfix { display:block; }

.more-link {
  text-align: left;
}